{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bunk/style.css' %}">
<h style='font-size: 40px'>User <b>{{user.username}}</b> is currently bunking with:</h>
<ul>
  {% for bunk in user.bunks_from_user.all %}
  <li>
    <img src={{bunk.to_user.photo}} />
    
    <b>{{bunk.to_user.username}}</b>
    (<em>est. {{bunk.pub_date}}</em>)
  </li>
  {% endfor %}
  {% for bunk in user.bunks_to_user.all %}
  <li>
    <img src={{bunk.from_user.photo}} />
    <b>{{bunk.from_user.username}}</b>
    (<em>est. {{bunk.pub_date}}</em>)
  </li>
  {% endfor %}
</ul>
{% if error_message %}<h2 class='error'>{{error_message}}</h2> {% endif %}


<h3><em><a href="{% url "bunk:index" %}">View All Bunks</a></em></h3>