{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'bunk/style.css' %}">
<p style='font-size: 40px'>
  User 
  <img src='{{user.photo}}' />
  <b>{{user.username}}</b> is currently bunking with:
</p>
<ul>
  {% for bunk in user.bunks_from_user.all %}
  <li>
    <img src={{bunk.to_user.photo}} />
    <b>{{bunk.to_user.username}}</b>
    (<em>est. {{bunk.pub_date}}</em>)
  </li>
  {% endfor %}
  {% for bunk in user.bunks_to_user.all %}
  <li>
    <img src={{bunk.from_user.photo}} />
    <b>{{bunk.from_user.username}}</b>
    (<em>est. {{bunk.pub_date}}</em>)
  </li>
  {% endfor %}
</ul>
<form action="{% url 'bunk:addbunkmate' user.id %}" method='post'>
  {% csrf_token %}
  <div style='display: flex;'>
    <legend><h4>Add new bunkmate: </h4>   </legend>
    {% if error_message %}<h2 class='error'>{{error_message}}</h2> {% endif %}
    <input type='text' name='bm_username' placeholder='Bunkmate username...'></input>
  </div>
  <input type="submit" value='Submit New Bunkmate Name'>
</form>


<h3><em><a href="{% url "bunk:index" %}">View All Bunks</a></em></h3>